*.pyc
.DS_Store
SDK
cmakebuild
Source/Python/utils/bin
Build/Targets/x86-unknown-linux/Debug
Build/Targets/x86-unknown-linux/Release
Build/Targets/x86_64-unknown-linux/Debug
Build/Targets/x86_64-unknown-linux/Release
Build/Targets/x86-microsoft-win32-vs2010/**/Debug
Build/Targets/x86-microsoft-win32-vs2010/**/Release
Build/Targets/x86-microsoft-win32-vs2010/**/*.suo
Build/Targets/x86-microsoft-win32-vs2010/**/*.user
Build/Targets/x86-microsoft-win32-vs2010/**/*.sdf
Build/Targets/x86-microsoft-win32-vs2012/**/Debug
Build/Targets/x86-microsoft-win32-vs2012/**/Release
Build/Targets/x86-microsoft-win32-vs2012/**/*.suo
Build/Targets/x86-microsoft-win32-vs2012/**/*.user
Build/Targets/x86-microsoft-win32-vs2012/**/*.sdf
Build/Targets/x86-microsoft-win32-vs2015/**/Debug
Build/Targets/x86-microsoft-win32-vs2015/**/Release
Build/Targets/x86-microsoft-win32-vs2015/**/*.suo
Build/Targets/x86-microsoft-win32-vs2015/**/*.user
Build/Targets/x86-microsoft-win32-vs2015/**/*.sdf
Build/Targets/universal-apple-macosx/build
Build/Targets/universal-apple-macosx/Bento4.xcodeproj/xcuserdata
Build/Targets/universal-apple-macosx/Bento4.xcodeproj/project.xcworkspace/xcuserdata
.svn
.sconsign.dblite
Bento4.xccheckout
Build/Targets/arm-android-linux
Build/Targets/universal-apple-macosx/cov-int
Bento4.xcscmblueprint
Build/Targets/cmake
dist
lib
shaka-player.uncompiled.js
third_party
.suo
*.db
*.user
.vscode
